* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat','sans-serif';
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* possivel main da index
    main {
    display: grid;
    grid-template-areas:
        "onda-a onda-a"
        "texto imagem"
        "onda-v onda-v";
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 20vh 60vh 20vh;
} */


@media (max-width: 960px) {
    html {
        font-size: 16px;
        overflow-x: hidden;
        min-height: min-content;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    
    body {
        align-items: center;
    }
}