.cabecalho {
    display: block;
    width: 100%;
    background-color: #77B2FE;
    position: fixed;
    z-index: 1;
}


.logo {
    width: 10rem;
    height: 3.7rem;
    margin-left: 5rem;
}

.logoenav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
}

.logoenav nav {
    padding-right: 2rem;
}

.menu-lista {
    display: flex;
}

.menu-lista-item {
    list-style: none;
}

.ativo {
    font-weight: bold;
}

.menu-lista-item-link {
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    text-transform: lowercase;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: 400ms;
}

.menu-lista-item-link:hover {
    font-size: 110%; 
}


@media (max-width: 960px) {
    .cabecalho {
        font-size: 18px;
    }
}

@media (max-width: 634px) {


    .logo {
        width: 10rem;
        height: 4rem;
        margin-left: 0;
    }


    .logoenav {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .logoenav nav {
        padding-right: 0;
    }
}